.footer {
    background-color: #008B8B;
    color: #fff; /* Set text color to white */
    padding: 20px;
  }
  
  .footer strong {
    font-weight: bold;
  }
  
  .footer b {
    font-weight: bold;
  }
  
  .footer a {
    color: #fff; /* Set link color to white */
    text-decoration: none;
  }
  
  .footer-img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    vertical-align: middle;
  }
  